body {
    background-color: #f2f2f2;
    background-image: url("../downloads/card1.png");
}
#container {
    background-color: black;
    width: 1310px;
    height: 740px;
    top: 177px;
    left: 465px;
    border: 1px solid black;
    blend: pass through;
    border-radius: 8px;
    display: block;
    padding: 35px;
    margin: 70px;
}
#container-1 {
    background-color: #1b1937;
    width: 1110px;
    height: 446px;
    top: 177px;
    left: 165px;
    border: 1px solid #1b1937;
    border-radius: 8px;
    display: block;
    padding: 35px;
    margin: 60px;
    color: white;
    font-family: inter;
}

#amount {
    display: inline;
    
}
.company {
    display: inline;
    float: left;
    padding-top: 50px;   
}
.template {
    display: inline;
    float: left;
    padding-left: 50px;
    padding-top: 50px;
}
.queries {
    display: inline;
    float: left;
    padding-left: 50px;
    padding-top: 50px;
}
#service-image {
    border: 1px solid;
   
    width: 600px;
    height: 446px;
    padding: 35px;
    margin: 60px;
    float: right;
    display: inline;
    background-image: url("../image/card1.png");
    background-size: cover; 
    background-color: #ab5cdb;
    opacity: 75.11.%;
    position: relative;
    background-blend-mode: multiply;
    
}
.insight {
    color: #ab5cdb;
}
.companies {
    color: rgb(214, 211, 211);
    font-family: lexend deca;
    font-size: 12px;
}

    @media screen and (max-width: 600px;) {
        #service-image {
            border: 1px solid;
           
            width: 600px;
            height: 446px;
    
            margin: 60px;
            float: right;
            display: flex;
            position: notset;
            
        } 
    }